<div class="m-4 p-4 bg-gray-100 rounded-lg shadow-md h-130 overflow-y-auto" #scrollContainer>
  <h2 class="pb-2 text-lg font-semibold border-b border-gray-300">Chat en curso...</h2>

  <div class="space-y-3 mt-3">

    @for (item of mensajes(); track $index) {
    @if (item.tipo=='usuario') {
    <div class="flex justify-end">
      <div class="bg-blue-500 text-white p-2 rounded-lg w-fit max-w-4xl">
        {{item.texto}}
      </div>
    </div>
    } @else {
    <div class="flex justify-start">
      <div class="bg-gray-300 text-black p-2 rounded-lg w-fit max-w-4xl">
        {{item.texto}}
      </div>
    </div>
    }
    }

  </div>
</div>