<div class="m-4 p-4 bg-gray-100 rounded-lg shadow-md h-130 overflow-y-auto" #scrollContainer>
  <h2 class="pb-2 text-lg font-semibold border-b border-gray-300">
    {{ query() ? 'Visualizando chat : '+ query() : 'Chat en curso...' }}
  </h2>

  <div class="space-y-3 mt-3">

    @for (chat of chats(); track $index) {
    @if (chat.titulo===query() || chat.titulo===null) {
    @for (contenido of chat.mensajes; track $index) {
    @if (contenido.tipo=='usuario') {
    <div class="flex justify-end break-words text-justify">
      <div class="bg-blue-500 text-white p-2 rounded-lg w-fit max-w-4xl">
        {{contenido.texto}}
      </div>
    </div>
    } @else {
    <div class="flex justify-start break-words text-justify">
      <div class="w-fit max-w-4xl">
        <div class="text-sm text-gray-500">ChatLKS</div>
        <div class="bg-gray-300 text-black p-2 rounded-lg w-fit max-w-4xl">
          {{contenido.texto}}
        </div>
      </div>
    </div>
    }
    }
    }
    }

  </div>
</div>